[Desktop Entry]
Type=Application
Name=Qt6 Assistant
Comment=Qt6 Documentation Assistant
Comment[hu]=Qt6 dokumentációs segéd
Exec=assistant-qt6
Icon=assistant-qt6
Categories=Qt;Development;Documentation;
Name[hu_HU]=qt6-assistant.desktop
